<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Cursos</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>
        <div class="logos">
            <img class="logo" src="/img/signopesos.png" alt="logito">
            <h1>USD API</h1>
        </div>
        <nav>
            <a href="#" onclick="irATablero('docente')">Tablero</a>
            <a href="#" onclick="irACursos('docente')">Estudiantes</a>
            <a href="#" onclick="notasDocente()">Actividades</a>
            <a href="#" onclick="irAPerfil('docente')">Perfil</a>
        </nav>
        <div class="perfil" onclick="mostrarModalPerfil()">
            <img class="perfile" src="/img/perf.png" alt="iconoPerfil">
            <p>Johan Perez</p>
        </div>
    </header>
    <div class="contenedor">
        <article class="cursosDiv">
            <div class="tituloCurso">
                <h1>Mis Cursos</h1>
            </div>
            <div class="cursosCuadros">
                <div class="cards">
                
                    <div class="cursitos">
                        <img src="/img/VideoJuegos.jpg" alt="">
                        <h4>Desarrollo de Juegos con Unity</h4>
                        <h4> Dr. John Smith</h4>
                        <hr />
                        <div class="medio">
                            <h6>Crea juegos 3D inmersivos con Unity. Aprende programación en C#, física de juegos y flujos de trabajo profesionales para el desarrollo de juegos.</h6>
                        </div>
                        <div class="btn">
                            <a href="#" onclick="VerCursos('desarrollo')" class="btn-negro">Ver Curso</a>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="cursitos">
                        <img src="/img/NODEJS.jpg" alt="">
                        <h4>Desarrollo con Node.js</h4>
                        <h4> Dr. John Smith</h4>
                        <hr />
                        <div class="medio">
                            <h6>Cree servicios backend de alto rendimiento con Node.js. Aprenda sobre Express.js, MongoDB y la arquitectura de microservicios.</h6>
                        </div>
                        <div class="btn">
                            <a href="#" class="btn-negro">Ver Curso</a>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="cursitos">
                        <img src="/img/aprendercss.jpg" alt="">
                        <h4>Arquitectura CSS</h4>
                        <h4> Dr. John Smith</h4>
                        <hr />
                        <div class="medio">
                            <h6>Aprenda a crear CSS mantenible a escala utilizando metodologías y herramientas modernas.</h6>
                        </div>
                        <div class="btn">
                            <a href="#" class="btn-negro">Ver Curso</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="modal_general"></div>
    
</body>
<script src="/views/scriptEstudiante.js"></script>
</html>