<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>

    <header>
        <div class="logos">
            <img class="logo" src="/img/signopesos.png" alt="logito">
            <h1>USD API</h1>
        </div>
        <nav>
            <a href="#" onclick="irATablero('docente')">Tablero</a>
            <a href="#" onclick="irACursos('docente')">Estudiantes</a>
            <a href="#FALTAAAA" onclick="irAActividades('docente')">Actividades</a>
            <a href="#" onclick="irAPerfil('docente')">Perfil</a>
        </nav>
        <div class="perfil" onclick="mostrarModalPerfil()">
            <img class="perfile" src="/img/perf.png" alt="iconoPerfil">
            <p>Johan Perez</p>
        </div>
    </header>
    <button class="atras">
        <img onclick="volverAtras()" src="/img/atrasSinFondo.jpg" alt="">
    </button>
    <div class="container">

        <h1 class="titulo">Notas Estudiantes:</h1>

        <div class="centro">

            <div class="tablaC">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Actividades</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Desarrollo web</td>
                            <td><button class="modificar">Visulizar</button></td>
                        </tr>
                        <tr>
                            <td>Node JS</td>
                            <td><button class="modificar">Visulizar</button></td>
                        </tr>
                        <tr>
                            <td>CSS</td>
                            <td><button class="modificar">Visulizar</button></td>
                        </tr>
                        <tr>
                            <td>HTML</td>
                            <td><button class="modificar">Visulizar</button></td>
                        </tr>
                        <tr>
                            <td>Python</td>
                            <td><button class="modificar">Visulizar</button></td>
                        </tr>
                        <tr>
                            <td>Javascript</td>
                            <td><button class="modificar">Visulizar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="/views/scriptEstudiante.js"></script>
</html>