<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <header>
        <div class="logos">
            <img class="logo" src="/img/signopesos.png" alt="logito">
            <h1>USD API</h1>
        </div>
        <nav>
            <a href="./inicio.html">Tablero</a>
            <a href="/views/estudiante/cursos.html">Cursos</a>
            <a href="/views/estudiante/actividades.html">Actividades</a>
            <a href="/views/estudiante/perfil.html">Perfil</a>
        </nav>
        <div class="perfil" onclick="mostrarModalPerfil()" >
            <img  class="perfile" src="/img/perf.png" alt="iconoPerfil">
            <p>Johan Perez</p>
        </div>
    </header>
    <button class="atras">
        <img src="/img/atrasSinFondo.jpg" alt="">
    </button>
    <div class="contenedorJuegos">
        <div class="tituloA">
            <h1>Actividades:</h1>
        </div>
        <div class="card">
            <div class="fecha">
                <p>Fecha de vencimiento 14 marzo de 2025</p>
            </div>
            <div class="titulo">📋 Actividad1</div>
            <div class="subtitulo">Actividad en Clase:</div>
            <div class="descripcion">
                Estimados Campers, un cordial saludo.Por favor hacer la maquetación con solamente flex/grid de la
                siguiente página anexada a esta tarea.¡Éxitosssssss!
                <button class="boton">Enviar Tarea</button>
            </div>
        </div>

        <div class="card">
            <div class="fecha">
                <p>Fecha de vencimiento 14 marzo de 2025</p>
            </div>

            <div class="titulo">📋 Actividad2</div>

            <div class="subtitulo">Actividad de Repaso:</div>
            <div class="descripcion">
                El es una aplicación de consola diseñada para ayudar a los usuarios a registrar y monitorear sus gastos
                diarios en diferentes categorías, como comida, transporte, entretenimiento, entre otros. Este simulador
                permite llevar un control básico de los gastos diarios, semanales o mensuales y obtener un resumen o
                reporte de los gastos en cada categoría. Toda la información se guarda en un archivo JSON, lo que
                permite mantener un historial de gastos entre distintas sesiones del programa.
                <button class="boton">Enviar Tarea</button>
            </div>

        </div>
    </div>
    <div class="modal_general"></div>


</body>
<script src="../estudiante/script/script.js"></script>

</html>