<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Js</title>
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <header>
        <div class="logos">
            <img class="logo" src="/img/signopesos.png" alt="logito">
            <h1>USD API</h1>
        </div>
        <nav>
            <a href="./inicio.html">Tablero</a>
            <a href="/views/estudiante/cursos.html">Cursos</a>
            <a href="/views/estudiante/actividades.html">Actividades</a>
            <a href="/views/estudiante/perfil.html">Perfil</a>
        </nav>
        <div class="perfil" onclick="mostrarModalPerfil()" >
            <img  class="perfile" src="/img/perf.png" alt="iconoPerfil">
            <p>Johan Perez</p>
        </div>
    </header>
    <button class="atras">
        <img src="/img/atrasSinFondo.jpg" alt="">
    </button>
    <div class="contenedorJuegos">
        <article class="cursoJuegos">
            <div class="cursosCuadros">
                <div class="cards">
                    <div class="cursitosC">
                        <h2>CSS</h2>
                        <div class="nivel">
                            <h4> 6 Semanas</h4>
                            <h4>Intermedio</h4>
                        </div>
                        <h4>Aprenda a crear CSS mantenible a escala utilizando metodologías y herramientas modernas.</h4>
                        <h5>Instructor del curso Dr. Johan Pabon </h5>
                    </div>
                    <div class="Botones-tres">
                        <button class="btn-negro">Actividades</button>
                        <button class="btn-negro">Notas Del Curso</button>
                        <button class="btn-negro">Examenes</button>
                    </div>
                    <div class="modulo-unico">
                        <h1>Descripcion general del curso</h1>
                        <p>Aprenda a crear CSS mantenible a escala utilizando metodologías y herramientas modernas.</p>
                    </div>
                </div>
            </div>
            <div class="modal_general"></div>
</body>
<script src="../estudiante/script/script.js"></script>
</html>