<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examenes</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <div class="logos">
            <img class="logo" src="/img/signopesos.png" alt="logito">
            <h1>USD API</h1>
        </div>
        <nav>
            <a href="#" onclick="irATablero('estudiante')">Tablero</a>
            <a href="#" onclick="irACursos('estudiante')">Cursos</a>
            <a href="#" onclick="irAActividades('estudiante')">Actividades</a>
            <a href="#" onclick="irAPerfil('estudiante')">Perfil</a>
        </nav>
        <div class="perfil" onclick="mostrarModalPerfil()" >
            <img  class="perfile" src="/img/perf.png" alt="iconoPerfil">
            <p>Johan Perez</p>
        </div>
    </header>
    <button class="atras">
        <img onclick="volverAtras()" src="/img/atrasSinFondo.jpg" alt="">
    </button>
    <div class="contenedorJuegos">
        <div class="tituloA">
            <h1>Examenes:</h1>
        </div>
        <div class="card">
            <div class="fecha">
                <p>Fecha de vencimiento 14 marzo de 2025</p>
            </div>
            <div class="titulo">📋 Examenes</div>
            <div class="subtitulo">Proyecto Final:</div>
            <div class="descripcion">
                Estimados Campers, un cordial saludo.Por favor hacer la maquetación con solamente flex/grid de la siguiente página anexada a esta tarea.¡Éxitosssssss!
                <button class="boton">Enviar Tarea</button>
            </div>
        </div>
    </div>
    <div class="modal_general"></div>
</body>
<script src="/views/scriptEstudiante.js"></script>

</html>