<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../estudiante/style/style.css">
</head>

<body>
    <header>
        <div class="logos">
            <img class="logo" src="/img/signopesos.png" alt="logito">
            <h1>USD API</h1>
        </div>
        <nav>
            <a href="./inicio.html">Tablero</a>
            <a href="/views/estudiante/cursos.html">Cursos</a>
            <a href="/views/estudiante/actividades.html">Actividades</a>
            <a href="/views/estudiante/perfil.html">Perfil</a>
        </nav>
        <div class="perfil">
            <img class="perfile" src="/img/perf.png" alt="iconoPerfil">
            <p>Johan Perez</p>
        </div>
    </header>
    <div class="contenedor">
        <article class="estadisticas">
            <h1>Tablero</h1>
            <div class="cuadros">
                <div class="tarjetas">
                    <h3>Cursos Activos</h3>
                    <p>3</p>
                </div>
                <div class="tarjetas">
                    <h3>Asignaciones pendientes</h3>
                    <p>2</p>
                </div>
                <div class="tarjetas">
                    <h3>Progreso general</h3>
                    <p>75%</p>
                </div>
            </div>
        </article>
        <article class="cursosDiv">
            <div class="tituloCurso">
                <h1>Mis Cursos</h1>
            </div>
            <div class="cursosCuadros">
                <div class="cards">
                    <div class="cursitos">
                        <img src="/img/VideoJuegos.jpg" alt="">
                        <h4>Desarrollo de Juegos con Unity</h4>
                        <h4> Dr. John Smith</h4>
                        <hr />
                        <div class="medio">
                            <h4>65% Completado</h4>
                            <h4>20 clases</h4>
                        </div>
                        <div class="btn">
                            <a href="./cursos.html" class="btn-negro">Ver Curso</a>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="cursitos">
                        <img src="/img/NODEJS.jpg" alt="">
                        <h4>Desarrollo con Node.js</h4>
                        <h4> Dr. John Smith</h4>
                        <hr />
                        <div class="medio">
                            <h4>65% Completado</h4>
                            <h4>20 clases</h4>
                        </div>
                        <div class="btn">
                            <a href="./cursos.html" class="btn-negro">Ver Curso</a>
                        </div>
                    </div>
                </div>
                <div class="cards">
                    <div class="cursitos">
                        <img src="/img/aprendercss.jpg" alt="">
                        <h4>Arquitectura CSS</h4>
                        <h4> Dr. John Smith</h4>
                        <hr />
                        <div class="medio">
                            <h4>65% Completado</h4>
                            <h4>20 clases</h4>
                        </div>
                        <div class="btn">
                            <a href="./cursos.html" class="btn-negro">Ver Curso</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="notificaciones">
            <h1>Actividades Recientes
            </h1>
            <div class="mensajes">
                <div class="modulo">
                    <p>📚 Completo el Capítulo 5 de Desarrollo de Juegos con Unity.</p>
                </div>
                <div class="modulo">
                    <p>✍️ Trabajo Entregado: Proyecto de plataforma de comercio electrónico..</p>
                </div>
                <div class="modulo">
                    <p>🏆 Obtuve el certificado en Fundamentos de React.</p>
                </div>
            </div>
        </article>



    </div>




</body>

</html>