<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Js</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header>
        <div class="logos">
            <img class="logo" src="/img/signopesos.png" alt="logito">
            <h1>USD API</h1>
        </div>
        <nav>
            <a href="#" onclick="irATablero('estudiante')">Tablero</a>
            <a href="#" onclick="irACursos('estudiante')">Cursos</a>
            <a href="#" onclick="irAActividades('estudiante')">Actividades</a>
            <a href="#" onclick="irAPerfil('estudiante')">Perfil</a>
        </nav>
        <div class="perfil" onclick="mostrarModalPerfil()" >
            <img  class="perfile" src="/img/perf.png" alt="iconoPerfil">
            <p>Johan Perez</p>
        </div>
    </header>
    <button class="atras">
        <img onclick="volverAtras()" src="/img/atrasSinFondo.jpg" alt="">
    </button>
    <div class="contenedorJuegos">
        <article class="cursoJuegos">
            <div class="cursosCuadros">
                <div class="cards">
                    <div class="cursitosN">
                        <h2>Node JS</h2>
                        <div class="nivel">
                            <h4> 14 Semanas</h4>
                            <h4>Avanzado</h4>
                        </div>
                        <h4>Cree servicios backend de alto rendimiento con Node.js. Aprenda sobre Express.js, MongoDB y la arquitectura de microservicios.</h4>
                        <h5>Instructor del curso Dr. Angel Niño </h5>
                    </div>
                    <div class="Botones-tres">
                        <button onclick="irAActividades('estudiante')" class="btn-negro">Actividades</button>
                        <button class="btn-negro">Notas Del Curso</button>
                        <button onclick="VerExamenes('examen')" class="btn-negro">Examenes</button>
                    </div>
                    <div class="modulo-unico">
                        <h1>Descripcion general del curso</h1>
                        <p>Crea servicios backend de alto rendimiento con Node.js. Aprendera sobre Express.js, MongoDB y la arquitectura de microservicios.</p>
                    </div>
                </div>
            </div>
            <div class="modal_general"></div>
</body>
<script src="/views/scriptEstudiante.js"></script>
</html>