<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <header>
        <div class="logos">
            <img class="logo" src="/img/signopesos.png" alt="logito">
            <h1>USD API</h1>
        </div>
        <nav>
            <a href="./inicio.html">Tablero</a>
            <a href="./curso.html">Cursos</a>
            <a href="./tareas.html">Actividades</a>
            <a href="./progreso.html">Perfil</a>
        </nav>
        <div class="perfil">
            <img class="perfile" src="/img/perf.png" alt="iconoPerfil">
            <p>Johan Perez</p>
        </div>
    </header>
    
</body>
</html>