html{
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 5px 1%;
    justify-content: space-between;
}

.logo {
    height: 40px;
    width: auto;
    cursor: pointer;
}

header a {
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    padding: 0 40px;
    transition: all 0.2s;
}

header h1{
    color: white;
    margin-left: 20px;
    font-size: 1rem;
}


nav {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}

nav a {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.perfile {
    height: 40px;
    width: auto;
    transition: all 0.3s;
    margin: 15px;
}

.perfil {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.perfil p{
    color: white;
    font-size: 1rem;
}

.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.contenedor{
    max-width: 80vw;
    margin: 2vh auto;
    padding: 0 2vw;
}

h1{
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 40px;
}

.estadisticas .cuadros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.tarjetas{
    background: rgb(255, 255, 255);
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid black;
    width: 23vw;
    height: 25vh;
    font-size: 1.5rem;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.tarjetas p{
    margin-top: 2rem;
    color: rgba(0, 186, 254, 1);
}

.cursosDiv .cursosCuadros{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.cursosDiv .cards{
    height: 550px;
}

.cursosDiv .cards .cursitos{
    height: 65%;
    background: white;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 15px;
    justify-content: space-between;
}

.cursitos img{
    width: 350px;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
    
}
.medio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.medio h4 {
    margin: 0;
}

.medio h6{
    font-size: 0.9rem;
    font-weight: 300;
}

hr {
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-negro{
    background-color: black;
    color: white;
    width: 8vw;
    height: 6vh;
    border-radius: 50px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-negro:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.notificaciones h1{
    margin: 0;
    margin-bottom: 10px;
}

.notificaciones .mensajes{
    display: flex;
    flex-direction: column;
}

.notificaciones .modulo{
    display: flex;
    justify-content: space-between;
    background: #D9D9D9;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 70px;

}

/*Contenedor Curso de Video Juegos*/

.contenedorJuegos{
    max-width: 80vw;
    margin: 3vh auto;
    padding: 0 10vw;
}

.cursoJuegos .cursitosj{
    background-image: url(/img/Gamer.jpg);
    height: 25vh;
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    color: white;
    width: 60vw;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 15px;
    justify-content: space-between;
}

.nivel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.nivel h4 {
    margin: 0;
    font-weight: 300;
}
.cursitosj h5 {
    font-weight: 500;
}

.atras{
    width: 0px;
}
.atras img{
    height: 40px;
    width: auto;
    margin-top: 20px;
    padding: 0 40px;
    cursor: pointer;
}
.atras img:hover{
    transform: scale(1.10);
    transition: all 0.3 ease;
}

.Botones-tres{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.modulo-unico{
    margin-top: 40px;
    height: 65%;
    background: white;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.modulo-unico h1{
    margin: 2%;
    font-size: 2rem;
}

.modulo-unico p{
    padding: 5vw;
    font-size: 1.5rem;
}


/*Contenido de Node*/

.cursoJuegos .cursitosN{
    background-image: url(/img/NodeJSimg.png);
    height: 25vh;
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    color: white;
    width: 60vw;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 15px;
    justify-content: space-between;
}
/*Contenido CSS*/
.cursoJuegos .cursitosC{
    background-image: url(/img/cssfoto.jpg);
    height: 25vh;
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    color: white;
    width: 60vw;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 15px;
    justify-content: space-between;
}
