html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 5px 1%;
    justify-content: space-between;
}

.logo {
    height: 40px;
    width: auto;
    cursor: pointer;
}

header a {
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    padding: 0 40px;
    transition: all 0.2s;
}

header h1 {
    color: white;
    margin-left: 20px;
    font-size: 1rem;
}


nav {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
}

nav a {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

.perfile {
    height: 40px;
    width: auto;
    transition: all 0.3s;
    margin: 15px;
}

.perfil {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.perfil p {
    color: white;
    font-size: 1rem;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.atras {
    width: 0px;
}

.atras img {
    height: 40px;
    width: auto;
    margin-top: 20px;
    padding: 0 40px;
    cursor: pointer;
}

.atras img:hover {
    transform: scale(1.10);
    transition: all 0.3 ease;
}

.container {
    max-width: 1800px;
    margin: 0 10%;
}

.flecha {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s;
    color: #333;
}

.flecha:hover {
    transform: translateX(-3px);
}

.titulo {
    text-align: center;
    font-size: 2.5vw;
    font-weight: 600;
    color: #333;
    margin-bottom: 2rem;
}


.izquierdo{
    display: flex;
    flex-direction: column;
    width: 15vw;
    gap: 1vw;
    margin-top: 120px;
}

.centro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botonIzq {
    background-color: #000;
    color: white;
    border-radius: 25px;
    font-size: 0.8vw;
    cursor: pointer;
    text-align: center;
    width: 8vw;
    height: 3vw;
}

.botonIzq:hover {
    background-color: #333;
}

.tablaC {
    flex: 1;
    background-color: transparent;
    min-width: 900px;
    margin: 0 4vw;
}

table {
    width: 60vw;
    border-collapse: collapse;
    background-color: transparent;
}

th {
    background-color: transparent;
    padding: 1rem;
    text-align: left;
    font-weight: 600;
    color: #333;
    border-bottom: 2px solid #999;
    font-size: 1.2vw;
}

td {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: 1.2vw;
    background-color: transparent;
}

tr {
    background-color: transparent;
}

.modificar {
    background-color: #000;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.6vw;
    cursor: pointer;
    transition: background-color 0.2s;
}

.modificar:hover {
    background-color: #333;
}

/*style de inicio*/

.contenedor {
    max-width: 80vw;
    margin: 2vh auto;
    padding: 0 2vw;
}

h1 {
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 40px;
}

.estadisticas .cuadros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.tarjetas {
    background: rgb(255, 255, 255);
    padding: 15px;
    text-align: left;
    border-radius: 10px;
    border: 1px solid black;
    width: 23vw;
    height: 25vh;
    font-size: 1.5rem;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.tarjetas p {
    margin-top: 2rem;
    color: rgba(0, 186, 254, 1);
}

.cursosDiv .cursosCuadros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cursosDiv .cards {
    height: 550px;
}

.cursosDiv .cards .cursitos {
    height: 65%;
    background: white;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 15px;
    justify-content: space-between;
}

.cursitos img {
    width: 350px;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;

}

.medio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.medio h4 {
    margin: 0;
}

.medio h6 {
    font-size: 0.9rem;
    font-weight: 300;
}

hr {
    width: 100%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-negro {
    background-color: black;
    color: white;
    width: 8vw;
    height: 6vh;
    border-radius: 50px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-negro:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}